@font-face {
    font-family: 'compny';
    src: url(../font/Cambay/Cambay-Regular.ttf);

}

@font-face {
    font-family: 'Samsung';
    src: url(../font/samsung-sharp-sans-regular/samsung_s_sharp_by_629lyric-d8y77l9.ttf);

}


@font-face {
    font-family: 'Samsung-reg';
    src: url(../font/samsung-sharp-sans-regular/SamsungSharpSansRegular-Regular.ttf);

}